{% extends "base.html" %} 

{% block title %}My Projects{% endblock %} 

{% block content %}
<div
  style="
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  "
>
  <h2>My Projects</h2>
  <button
    hx-get="{% url 'projects:project-create' %}"
    hx-target="#project-form-container"
    hx-swap="innerHTML"
  >
    Create New Project
  </button>
</div>
<hr />

<div id="project-form-container"></div>
<div id="project-list-container">
  {% include "projects/_project_list_partial.html" %}
</div>
{% endblock %}
